  <div>
	  <label>New Item:</label> <input #itemName />
	  <button (click)="add(itemName.value); itemName.value=''">
		Add
	  </button>
    <div *ngIf ="item" >
       <h2>{{item.name}}</h2>    
    </div>
  </div>
<div class = "col-sm-4">
  <h2>Items</h2>
<ul class="items">
  <li *ngFor = "let item of items"
    [class.selected]= "item === selectedItem"
    (click) = "onSelect(item)">
    <span class="badge">{{item.id}}</span>
    <span>{{item.name}}</span> 
    <button class="delete" (click)="delete(item); $event.stopPropagation()" style="float: right">x</button>
  </li>
</ul>
</div>
<!--<item-detail [item]="selectedItem"></item-detail>-->
<div *ngIf ="selectedItem" class="col-sm-4">
  <h2>
    {{selectedItem.name | uppercase}}<br />
    £{{selectedItem.price}}
  </h2>
  <button (click)="goToDetail()">View Details</button>
</div>
