  <div>
	  <label>Register:</label> <input #userName />
	  <button (click)="register(userName.value); userName.value=''">
		Add
	  </button>
    <textarea #user>{{user.name}}</textarea>
  </div>
<div class = "col-sm-4">
  <h2>Items</h2>
<ul class="items">
  <li *ngFor = "let item of items"
    [class.selected]= "item === selectedItem"
    (click) = "onSelect(item)">
    <span class="badge">{{item.id}}</span> {{item.name}}
  </li>
</ul>
</div>
<!--<item-detail [item]="selectedItem"></item-detail>-->
<div *ngIf ="selectedItem" class="col-sm-4">
  <h2>
    {{selectedItem.name | uppercase}}<br />
    £{{selectedItem.price}}
  </h2>
  <button (click)="goToDetail()">View Details</button>
</div>
