<div class = "col-sm-4">
    <h2>{{item.name}} details.</h2>
    <table class="table">
    <thead>
      <tr>
        <th><label>Item Code: </label></th>
        <th>{{item.id}}</th>
      </tr>
    </thead>
      <tr>
        <th><label>Name:</label></th>
        <th><input [(ngModel)] = "item.name" placeholder = "Name"></th>
      </tr>
      <tr>
        <th><label>Price:</label></th>
        <th><input [(ngModel)] = "item.price" placeholder = "Price"> </th>
      </tr>
      <tr>
        <th><label>Category:</label></th>
        <th><input [(ngModel)] = "item.type" placeholder = "Category"> </th>
      </tr>    
    </table>
</div>